body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar NavLink {
  cursor: pointer;
}

.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.card-img-wrapper:hover img {
  transform: scale(1.2, 1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 0.7;
}

.card-img-wrapper img {
  transform: scale(1.0, 1.0);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.member-icons {
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.card-img-wrapper:hover .member-icons {
  bottom: 0;
  opacity: 1;
}

.card .img-thumbnail {
  margin: 25px;
  width: 85%;
  height: 85%;
}

.card .card-body {
  padding: 0 25px;
}

.card .card-footer {
  padding: 10px 15px;
  border-top: none;
  background-color: #fff;
}

/************For Tabs**************/
.tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.member-tabs .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}


